body{
    font-family: Arial, Sans-serif;
    background-color: #3e8e41;
}
#userForm{
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"], input[type="date"]{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
input[type="file"]{
    margin-bottom: 20px;
}
#submit-btn{
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: #3e8e41;
} 
